h1{
    color: yellow;
}
h2{
    color: green;
}

p{
    color: red;
}
span{
    background: rgb(65, 11, 126);
}
img{
    background: yellow;
    
}
.HR1{
    border: 1px solid rgb(114, 126, 11);
}
.dev{
 background-color: rgb(12, 214, 113);
}
